<div class="contents row">
  <div class="container">
    <h3>編集する</h3>
    <%= form_with(model: @menu, local: true) do |form| %>
      <%= form.text_field :name, placeholder: "料理名" %>
      <%= form.text_field :image, placeholder: "URL" %>
      <%= form.text_field :memo, placeholder: "メモ" %>
      <%= form.file_field :image  %>
      <%= form.submit "保存" %>
    <% end %>
    
    <%= link_to '削除', menu_path(@menu.id), method: :delete %>
  
  </div>
  
</div>