<div class="new-contents">
  <div class="new-container">
    <h2>レシピを追加する</h2>

    <% if @menu.errors.any? %>
      <div id="error_explanation">
        <ul>
          <% @menu.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  
    <%= form_with(model: @menu, local: true,class: "new-main") do |form| %>
    <div class = "new-recipe-name">
     <div class = "new-title"> <%= "料理名" %> </div>
      <%= form.text_field :name, placeholder: "料理名を入力",class: "new-recipe-form" %>
    </div>
    <div class = "new-recipe-url">
     <div class = "new-title"> <%= "URL" %> </div>
      <%= form.text_field :url, placeholder: "URLを入力",class: "new-recipe-form"%>
    </div>
    <div class = "new-recipe-memo">
     <div class = "new-title"> <%= "メモ" %> </div>
      <%= form.text_area :memo, placeholder: "メモを入力",class: "new-recipe-form memo-field"%>
    </div>
    <div class = "new-recipe-image">
     <div class = "new-title"> <%= "写真" %> </div>
      <%= form.file_field :image ,class:"new-recipe-form" %>
    </div>
    <div class = new-submit>
      <%= form.submit "保存" ,class: "new-submit-button"%>
    </div>
    <% end %>
  </div>
</div>