<% if @menu.image.attached? %>
  <% set_meta_tags title: @menu.name, description: @menu.memo,twitter:{image: image_url(@menu.image.attachment.service.send(:object_for,@menu.image.key).public_url)} %>
  <%# <% set_meta_tags twitter: {image: image_url(url_for(@menu.image))}%>  
<% end %>

<div class="container">
  <h2><%= @menu.name %></h2>

  <div id="like-btn<%= @menu.id %>">
      <% if user_signed_in? && @menu.favorited_by?(current_user)%>
        <%=link_to menu_favorite_path(@menu.id),  method: :delete  do%>
        <i class="fa-solid fa-star unlike-btn"></i>
        <% end %>
      <% else %>
        <%=link_to menu_favorites_path(@menu.id), method: :post do %>
          <i class="fa-solid fa-star like-btn"></i>
        <% end %>
      <% end %>
  </div>

<%# <%= link_to 'Twitter', "https://twitter.com/share?url=#{request.url}/&text=#{@menu.name}", title: 'Twitter', target: '_blank' %> 
  <div class="show-recipe-image">
    <%= image_tag @menu.image if @menu.image.attached? %>
  </div>

  <div class = "show-hed">
    <% if user_signed_in? %>
      <div class = "show-back-button" >
        <%= link_to '戻る', request.referrer, method: :get %>
      </div>
    <% end %>
    <% if user_signed_in? && @menu.user.id == current_user.id %>
      <div class= "show-edit-button">
        <%= link_to '編集', edit_menu_path(@menu.id), method: :get %>
      </div>
    <% end %>
  </div>

  <div class = "show-recipe-url">
  <%= link_to "レシピのURL：#{@menu.url}", @menu.url %>
  </div>

  <div class = "show-recipe-memo">
  <%= "メモ：#{@menu.memo}" %>
  </div>

</div>


