

<h3 class="recipe-heading"><%= @menu.name %>の詳細情報</h3>

<% if @menu.user.id == current_user.id %>
  <div>
    <%= link_to '編集', edit_menu_path(@menu.id), method: :get %>
  </div>
<% end %>
<div>
  <%= link_to '戻る', root_path, method: :get %>
</div>

<%= link_to @menu.url %>
<%= @menu.memo %>
<div class="recipe-image">
  <%= image_tag @menu.image if @menu.image.attached? %>
</div>

<%= link_to 'お気に入りに追加', "/menus/#{@menu.id}/favorite", method: :post %>
