<h3><%= @menu.name %>の詳細情報</h3>

  <li>
    <%= link_to '編集', edit_menu_path(@menu.id), method: :get %>
  </li>
  <li>
    <%= link_to '戻る', root_path, method: :get %>
  </li>

<%= @menu.url %>
<%= @menu.memo %>
<%= image_tag @menu.image if @menu.image.attached? %>