<% if @menu.image.attached? %>
  <% set_meta_tags title: @menu.name, description: @menu.memo,twitter:{image: image_url(@menu.image.attachment.service.send(:object_for,@menu.image.key).public_url)} %>
  <%# <% set_meta_tags twitter: {image: image_url(url_for(@menu.image))}%>  
<% end %>

<div class="container">
  <div class = "show-hed">
    <% if user_signed_in? %>
      <div class = "show-back-button" >
        <%= link_to request.referrer, method: :get do%>
          <i class="fa-solid fa-chevron-left"></i>
        <% end %>
      </div>
    <% end %>
    <% if user_signed_in? && @menu.user.id == current_user.id %>
        <div class= "show-edit-button">
          <%= link_to '編集', edit_menu_path(@menu.id), method: :get %>
        </div>
    <% end %>
  </div>

  <div class="show-recipe-name">
    <%= @menu.name %>
  </div>

  <div class= "show-bar">
    <div class= "like-container">
      <div id="favorite-button<%= @menu.id %>">
        <%= render partial: "favorites/favorite", locals: {menu: @menu}%>
      </div>
    </div>
    
    <div class="share-container">
      <%= link_to "https://twitter.com/share?url=#{request.url}/&text=#{@menu.name}のレシピ", title: 'Twitter', target: '_blank' do %>
        <i class="fa-brands fa-twitter" style='color: #3399FF;'></i>
      <% end %>
      <%= link_to "https://social-plugins.line.me/lineit/share?url=#{request.url}/&text=#{@menu.name}のレシピ" do %>
        <i class="fa-brands fa-line" style='color: #06c755;'></i>
      <% end%>
    </div>
  </div>

  <div class="show-recipe-image">
    <%= image_tag @menu.image if @menu.image.attached? %>
  </div>
  
  <div class = "show-recipe-link">
    <%= link_to @menu.url, target: "_blank",class: 'show-recipe-link-button' do %>
      <div class="link-icon">
        <i class="fa-solid fa-up-right-from-square"></i>レシピを見る
      </div>
    <% end %>
  </div>

  <div class = "show-recipe-list">
    <h3><%="メモ"%></h3>
    <div class='show-recipe-memo'>
    <%= @menu.memo %>
    </div>
  </div>

</div>


