<div class="container">
  <div class="user-show-head">
    <h1 class= "user-show-name"><%= @nickname %></h1>
    <% if current_user != @user %>
      <% if current_user.following?(@user) %>
        <%= link_to 'フォローする', user_relationships_path(@user.id), method: :delete, class: "unfollow-button" %>
      <% else %>
      <%= link_to 'フォロー中', user_relationships_path(@user.id), method: :POST, class:"follow-button" %>
      <% end %>
    <% end %>
  </div>

  <div class="recipe-list">
    <% @menus.each do |menu| %>
      <div class="index-recipe">
        <div class="index-recipe-image">
          <%= link_to menu_path(menu.id) do %>
            <%= image_tag menu.image if menu.image.attached? %>
          <% end %>
        </div>
        <div class="index-recipe-name">
          <%= link_to "#{menu.name}" , menu_path(menu.id)%>
        </div>
        <div class="index-recipe-url">
          <%= link_to "レシピのURL: #{menu.url}", menu.url, target: "_blank"%>
        </div>
      </div>
    <% end %>
  </div>

</div>