<div class="contents">
  <div class="container">
    <h2>ログイン</h2>
    <%= form_with model: @user, url: user_session_path, id: 'new_user', class: 'new_user', local: true do |f| %>
      <div class="field">
        <%= f.label :email, 'メールアドレス' %><br />
        <%= f.email_field :email, autofocus: true %>
      </div>

      <div class="field">
        <%= f.label :password, 'パスワード' %><br />
        <%= f.password_field :password, autocomplete: "off" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field">
          <%= f.label :remember_me, 'パスワードを保存しますか？' %><br />
          <%= f.check_box :remember_me %>
        </div>
      <% end %>

      <div class="login_content">
        <%= f.submit "ログイン",class:"login_button" %>
      </div>
    <% end %>
  </div>
</div>