<% if user_signed_in? %>
  <div class="search-top">
    <%= form_with(url: search_menus_path, local: true, method: :get, class: "search-form") do |form| %>
      <%= form.text_field :word, placeholder: "レシピ名", class: "search-input" %>
      <%= form.submit "検索", class: "search-button" %>
    <% end %>
  </div>
<% end %>

<%=link_to new_menu_path, method: :get,class:"new-recipe-button" do%>
  <i class="fa-solid fa-utensils"></i>
<% end %>

<% if @page == "menus" %>
  <div class="top-link">
    <div class="links">
    <%= link_to "Recipies", root_path,class: "link", style: "color: #bc611e; border-bottom: 3px solid #bc611e" %>
    <%= link_to "Likes", "/users/#{current_user.id}/favorite_menus",class: "link"%>
    <%= link_to "Follwing", "/menus/following_menus",class: "link"%>
    </div>
  </div>

<% elsif @page == "likes" %>
  <div class="top-link">
    <div class="links">
    <%= link_to "Recipies", root_path,class: "link" %>
    <%= link_to "Likes", "/users/#{current_user.id}/favorite_menus",class: "link", style: "color: #bc611e; border-bottom: 3px solid #bc611e"%>
    <%= link_to "Follwing", "/menus/following_menus",class: "link"%>
    </div>
  </div>

<% elsif @page == "followings" %>
  <div class="top-link">
    <div class="links">
    <%= link_to "Recipies", root_path,class: "link" %>
    <%= link_to "Likes", "/users/#{current_user.id}/favorite_menus",class: "link"%>
    <%= link_to "Follwing", "/menus/following_menus",class: "link", style: "color: #bc611e; border-bottom: 3px solid #bc611e"%>
    </div>
  </div>
<% end %>


      
