<!DOCTYPE html>
<html>
  <head>
    <title>Recipist</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href='https://use.fontawesome.com/releases/v6.4.0/css/all.css'>
  </head>

  <body>
     <header class="header">
     <div class="header-top">
        <div class="header__bar">
          <h1 class="header-logo"><a href="/">Recipist</a></h1>
          <div class="hamburger">
            <span></span>
            <span></span>
            <span></span>
          </div>
          <div class="hamburger-menu">
            
              <% if user_signed_in? %>
                  <div class = "user-name">
                   <%= current_user.nickname %>
                  </div>
                  <%# <div class= "hamburger-list"> %>
                  <%# <i class="fa-solid fa-user"></i> %>
                  <%= link_to "マイページ", "/users/#{current_user.id}/mypage",class: "post"%>
                  <%# </div> %>
                  <%= link_to "ユーザー検索", "/users/user_search",class: "post"%>
                  <%= link_to "ログアウト", destroy_user_session_path, method: :delete,class: "post"%>
              <% else %>
                  <%= link_to "ログイン", new_user_session_path, class: "post" %>
                  <%= link_to "新規登録", new_user_registration_path, class: "post" %>
              <% end %>
                 
          </div>
        </div>
      </div>
      
    </header>
    <%= yield %>
    <footer>
      <div class="container">
      <div class="logout">
        <%= "Copyright Recipist 2023." %>
   
      </div>  
    </footer>
  </body>
</html>
